           {{#partial "contenido" }}

                <!-- End of Topbar -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Incidentes</h1>
                    <p class="mb-4">Apertura de incidente</p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Apertura </h6>
                        </div>
                        <div class="card-body">

                            <form action="/aperturaIncidente" method="POST">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Prestacion de servicio</label>
                                    <select class="form-control" id="prestacion" name="prestacion" placeholder="Servicio">

                                        {{#each prestaciones}}
                                      <option value="{{this.id}}">{{this.servicio.nombre}} - {{this.establecimiento.nombre}} </option>
                                         {{/each}}

                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlSelect1">Descripcion</label>
                                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion del incidente" required>

                                  </div>
                                <button type="submit" class="btn btn-primary mt-4 botonApertura"><i class="fa fa-plus mr-2"></i>Abrir</button>
                              </form>


                        </div>
                    </div>

                </div>

{{/partial}}
{{> base }}

