{{#partial "contenido" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">GEOREF API</h1>
                    <p class="mb-4">Vinculacion con servicio GEOREF</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">GEOREF</h6>
                        </div>
                        <div class="card-body  text-center">
                            <form action="/admin/georef" method="POST">
                                <button type="submit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa fa-arrow-alt-circle-down mr-2"></i>Actualizar</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
{{/partial}}
{{> base }}
