<!-- Este campo se usará para el nombre de la Entidad Prestadora -->
<input type="hidden" name="RegistroType" value="EntidadPrestadora" />


<div class="form-group">
    <label for="nombre">Nombre de la Entidad Prestadora:</label>
    <input type="text" class="form-control" id="nombre" name="nombre" required>
</div>

<!-- Campo para el Correo Electrónico del Responsable -->
<div class="form-group">
    <label for="correoElectronicoResponsable">Correo Electrónico del Responsable:</label>
    <input type="email" class="form-control" id="correoElectronicoResponsable" name="correoElectronicoResponsable" required>
</div>

<!-- Campo para la Descripción de la Entidad Prestadora -->
<div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea class="form-control" id="descripcion" name="descripcion"></textarea>
</div>


<div class="form-group">
<label for="entidadId">Selecciona una Entidad:</label>
<select class="form-control" id="entidadId" name="entidadId">
    <option value="">Selecciona una Entidad</option>
    {{#each entidades}}
    <option value="{{this.id}}">{{this.nombre}}</option>
    {{/each}}
</select>
</div>

        <!-- ...resto del formulario... -->

