{{#partial "contenido" }}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
                    <p class="mb-4">Administración de Usuarios  <i>(todos sus tipos)</i></p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                        </div>
                        <div class="card-body tabla">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>Roles</th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        {{#each usuarios}}
                                             <tr>
                                                <td>{{this.username}}</td>
                                                <td>
                                                {{#each this.roles}}
                                                <span class="badge badge-primary">{{this.nombre}}</span>

                                                {{/each}}
                                                </td>
                                                <td>
                                                <a role="button" class="btn btn-warning" href="/admin/usuarios/{{this.id}}/editar"><i class="fa fa-pen"></i></a>
                                                </td>
                                             </tr>
                                         {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
        <!-- Edit Modal-->
    <div class="modal" id="editModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-arrow-left mr-1"></i>Atras</button>
              <button type="button" class="btn btn-success"><i class="fa fa-check mr-1"></i>Guardar</button>
            </div>
          </div>
        </div>
      </div>

              <!-- Delete Modal-->
    <div class="modal" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Eliminar usuario</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Esta seguro que desea eliminar el usuario?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-arrow-left mr-1"></i>Atras</button>
              <button type="button" class="btn btn-danger"><i class="fa fa-trash mr-1"></i>Eliminar</button>
            </div>
          </div>
        </div>
      </div>
{{/partial}}
{{> base }}